[Unit]
Description=Rewrite Proxy for some UnifiedPush providers in Go
After=network.target
Requires=network.target

[Service]
Type=simple
WorkingDirectory={{directory_where_things_are_installed_to}}
ExecStart={{directory_where_things_are_installed_to}}/up-rewrite-proxy
Restart=always
RestartSec=10


[Install]
WantedBy=multi-user.target
